body,
input,
textarea,
select,
button {
    font: 400 1rem "Catamaran", sans-serif;
}
.icon{
    width: 40px;
    height: 40px;
}
.dark {
    background-color: #3f3f3f;
}
.dark header{
    background-color: #3f3f3f;
}
.dark p {
    color: #447fa2;
}

/* Alterações */

.logo-navbar {
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
  background-color: black;
}

#title {
    font-size: 14px;
}

.cor-azul {
    filter: sepia(1) hue-rotate(190deg) saturate(4) brightness(0.8);
}

.data {
    border: 2px solid #447fa2;
    background-color: #447fa210;
}

#button-alterar-cor {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: .5rem;
  background-color: transparent;
  color: #fff;
  transition: .5s;
}

#button-alterar-cor:hover {
  cursor: pointer;
  background-color: #232323;
}