body,
input,
textarea,
select,
button {
    font: 400 1rem "Catamaran", sans-serif;
}
.icon{
    width: 40px;
    height: 40px;
}
.dark {
    background-color: #3f3f3f;
}
.dark header{
    background-color: #3f3f3f;
}
.dark p {
    color: #447fa2;
}

/* Alterações */

.logo-navbar {
  background-color: black;
}

#title {
    font-size: 14px;
}

.cor-azul {
    filter: sepia(1) hue-rotate(190deg) saturate(4) brightness(0.8);
}

.data {
    border: 2px solid #447fa2;
    background-color: #447fa210;
}

#button-alterar-cor {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: .5rem;
  background-color: transparent;
  color: #fff;
  transition: .5s;
}

#button-alterar-cor:hover {
  cursor: pointer;
  background-color: #232323;
}

.logo-navbar {
    width: 70%;
}

footer {
  height: 100%;
}

@media (max-width: 1000px) {
    .logo-navbar {
        background-color: black;
      }
      
      #title {
          font-size: 14px;
      }
      
      .cor-azul {
          filter: sepia(1) hue-rotate(190deg) saturate(4) brightness(0.8);
      }
      
      .data {
          border: 2px solid #447fa2;
          background-color: #447fa210;
      }
      
      #button-alterar-cor {
        padding: 5px;
        border: 2px solid #fff;
        border-radius: .5rem;
        background-color: transparent;
        color: #fff;
        transition: .5s;
      }
      
      #button-alterar-cor:hover {
        cursor: pointer;
        background-color: #232323;
      }
      
      .logo-navbar {
          width: 70%;
      }
}

@media (min-width: 1000px) {
    .box2 {
        width: 100% !important;
        height: auto !important;
    }

    .datas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .data {
        border: 2px solid #447fa2;
        background-color: #447fa210;
        height: 100% !important;
    }
}

@media (min-width: 425px) {
    .box2 {
        width: 100% !important;
        height: auto !important;
    }

    .container2 {
        /* height: 50%; */
        /* margin-bottom: 20rem; */
    }

    .data {
        border: 2px solid #447fa2;
        background-color: #447fa210;
        height: 100% !important;
    }

    .container2 {
        padding-bottom: 10rem !important;
    }

    footer {
        position: fixed !important;
        bottom: 100 !important;
    }
}

@media (min-width: 300px) {
    .box2 {
        width: 100% !important;
        height: auto !important;
    }

    .container2 {
        /* height: 50%; */
        /* margin-bottom: 20rem; */
    }

    .data {
        border: 2px solid #447fa2;
        background-color: #447fa210;
        height: 100% !important;
    }

    .container2 {
        padding-bottom: 10rem !important;
    }

    footer {
        position: fixed !important;
        bottom: 100 !important;
    }
}