* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
    font: 400 1rem "Catamaran", sans-serif;
}
html {
    scroll-behavior: smooth;
}

.dark {
    background-color: #3f3f3f;

    .menu ul a {
        color: white;
    }
    .contact{
        background-color: #3f3f3f;
    }
    .contact h2{
        color: white;
    }
    .contact label input{
        background-color: #3f3f3f;
    }
    .contact label input:focus + p{
        background-color: #3f3f3f;
    }
    #banner h1{
        color: white;
    }

}

/* Alterações */

.logo-navbar {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: black;
}

#button-alterar-cor {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: .5rem;
  background-color: transparent;
  color: #fff;
  transition: .5s;
}

#button-alterar-cor:hover {
  cursor: pointer;
  background-color: #232323;
}

footer {
    height: 100% !important;
}

@media (min-width: 1440px) {
  header .wrapper-menu-profile li a {
    font-size: 18px !important;
  }

  #banner h1 {
    font-size: 48px !important;
  }

  #banner button {
    font-size: 24px !important;
  }
}

@media (min-width: 1000px) {
    header .wrapper-menu-profile li a {
      font-size: 18px !important;
    }
  
    #banner h1 {
      font-size: 48px !important;
    }
  
    #problem p, #mini-estufa p, #social p, #get-yours p {
      font-size: 16px;
    }
  
    #mini-estufa .section-text, #get-yours .section-text {
      margin: 2rem;
    }
  
    #mini-estufa a {
      font-size: 18px;
    }
  
    #social img, #problem img {
      width: 70%;
      margin-left: 30%;
    }
  
    section img {
      width: 70%;
    }
  }

@media (min-width: 425px) {
    .logo-navbar {
        width: 100px;
        height: auto;
    }

    header .wrapper-menu-profile li a {
      font-size: 14px !important;
    }

    .wrapper-menu-profile {
        margin: 1rem;
    }
  
    #banner h1 {
      font-size: 28px !important;
      text-align: center;
    }

    #banner button {
        font-size: 18px !important;
    }
  
    #problem p, #mini-estufa p, #social p, #get-yours p {
      font-size: 16px;
    }
  
    #mini-estufa .section-text, #get-yours .section-text {
      margin: 2rem;
    }
  
    #mini-estufa a {
      font-size: 18px;
    }
  
    #social img, #problem img {
      width: 70%;
      margin-left: 30%;
    }
  
    section img {
      width: 70%;
    }

    label input {
        padding: 0;
        margin: 0;
        height: auto;
        min-width: 1rem !important;
    }

    .section3 {
        
    }
  }