* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #447fa2;
  --padding: 24px 32px;
}

::selection {
  background: var(--primary-color);
  color: #FFF;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}




html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Catamaran", sans-serif;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 1080px) {
  .section { 
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}

header>img {
  height: 80px;
}

.wrapper-menu-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper-menu-profile .profile {
  margin-left: 30px;
}

.wrapper-menu-profile .profile button {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all ease .2s;
}

.wrapper-menu-profile .profile button:hover {
  opacity: .5;
}

.wrapper-menu-profile .profile button img {
  height: 50px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu ul li {
  list-style: none;
}

.menu ul li+li {
  margin-left: 30px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1.875rem;
  color: #000000;
  font-weight: 300;
}

.menu ul li a:hover {
  color: var(--primary-color);
  transition: all ease .2s;
}

.menu ul li a.active {
  color: var(--primary-color);
  text-decoration:overline;
}


.section {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.section .section-text {
  text-align: center;
}

.section .section-text ol {
  text-align: initial;
}
.section .section-text ol li {
  font-size: 2.188rem;
  font-weight: 300;
  max-width: 830px;
  line-height: 42.36px;
  text-align: left;
  margin-top: 40px;
}

.section .section-text h3 {
  font-weight: 300;
  font-size: 2.188rem;
}

.section .section-text p {
  font-size: 2.188rem;
  font-weight: 300;
  max-width: 730px;
  line-height: 42.36px;
  text-align: left;

  margin-top: 30px;
}

.section .section-text a {
  display: block;
  padding: 33px 140px;
  background: var(--primary-color);
  border-radius: 50px;

  font-size: 2.188rem;
  font-weight: 300;
  border: 3px solid var(--primary-color);
  margin-top: 30px;

  cursor: pointer;
  transition: all ease .2s;
}


.section .section-text a:hover {
  border: 3px solid var(--primary-color);

  background-color: var(--primary-color)00;
  color: var(--primary-color);
}

.section .section-image img {
  height: 100vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: 10vh;
  border-top: 1px solid black;
  background: black;
  color: white;
  box-sizing: border-box;
}

.logo {
  width: 150px;
}

.property {
  margin-left: 10px;
}

a {
  color: white;
  font-style: none;
}

a+a {
  margin: 70px;
}

.whats,
.insta {
  width: 30px;
}

#product {
  padding: var(--padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  gap: 35px;
}

#product .card {
  background-color: #447fa2;
  padding: 65px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 51px;
  justify-content: center;
}
#product .card p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #ffffff;
}

#product .card img {
  width: 112px;
}

.dark{
  background-color: #3f3f3f;
  color: white;
  .menu ul a{
    color: white;
  }
  
}

/* Alterações */

.logo-navbar {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: black;
}

#imagem-home-2, #imagem-home-3, #imagem-home-4, #imagem-home-5, #imagem-nos-3 {
  border-radius: 4rem;
  height: 100%;
}

#imagem-nos-3 {
  margin-left: 20%;
  height: 50%;
  width: 70%;
}

.card img {
  filter: brightness(0) invert(1);
}

#button-alterar-cor {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: .5rem;
  background-color: transparent;
  color: #fff;
  transition: .5s;
}

#button-alterar-cor:hover {
  cursor: pointer;
  background-color: #232323;
}

footer {
  height: 100%;
}

@media (min-width: 1440px) {
  header .wrapper-menu-profile li a {
    font-size: 18px !important;
  }

  #problem p, #product p {
    font-size: 24px !important;
  }

  #product .section-text p, #problem li {
    font-size: 20px !important;
  }

  #imagem-home-3 {
    width: 80%;
  }

  #mini-estufa h3, #social h3 {
    font-size: 32px !important;
  }

  #mini-estufa p, #social p {
    font-size: 28px !important;
  }

  #mini-estufa a {
    font-size: 20px;
    padding: 1rem;
  }

  #social .section-text {
    margin: 2rem;
  }

  #social a {
    padding: 1rem !important;
    font-size: 18px !important;
  }
}

@media (min-width: 1000px) {
  header .wrapper-menu-profile li a {
    font-size: 18px;
  }

  #banner h1 {
    font-size: 48px;
  }

  #banner a, #get-yours a {
    font-size: 24px;
  }

  #problem p, #mini-estufa p, #social p, #get-yours p {
    font-size: 16px;
  }

  #mini-estufa .section-text, #get-yours .section-text {
    margin: 2rem;
  }

  #mini-estufa a {
    font-size: 18px;
  }

  #social img, #problem img {
    width: 70%;
    margin-left: 30%;
  }

  section img {
    width: 70%;
  }

  img {
    margin: auto 0 !important;
  }
}

@media (min-width: 425px) {
  header .wrapper-menu-profile li a {
    font-size: 14px;
  }

  .logo-navbar {
    width: 100px;
    height: auto;
  }

  .wrapper-menu-profile {
    margin: 1rem;
  }

  #banner h1 {
    font-size: 48px;
  }

  #banner a, #get-yours a {
    font-size: 24px;
  }

  #problem p, #mini-estufa p, #social p, #get-yours p {
    font-size: 16px;
  }

  #mini-estufa .section-text, #get-yours .section-text {
    margin: 2rem;
  }

  #mini-estufa a {
    font-size: 18px;
  }

  #social img, #problem img {
    width: 70%;
    margin-left: 30%;
  }

  section img {
    width: 70%;
  }

  img {
    margin: auto 0 !important;
  }

  .card {
    padding: 1rem 0 !important;
    width: 65%;
    margin: 0 auto;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section p, section a, section li {
    font-size: 16px !important;
  }
}

@media (min-width: 300px) {
  header .wrapper-menu-profile li a {
    font-size: 14px;
  }

  .logo-navbar {
    width: 100px;
    height: auto;
  }

  .wrapper-menu-profile {
    margin: 1rem;
  }

  #banner h1 {
    font-size: 48px;
  }

  #banner a, #get-yours a {
    font-size: 24px;
  }

  #problem p, #mini-estufa p, #social p, #get-yours p {
    font-size: 16px;
  }

  #mini-estufa .section-text, #get-yours .section-text {
    margin: 2rem;
  }

  #mini-estufa a {
    font-size: 18px;
  }

  #social img, #problem img {
    width: 70%;
    margin-left: 30%;
  }

  section img {
    width: 70%;
  }

  img {
    margin: auto 0 !important;
  }

  .card {
    padding: 1rem 0 !important;
    width: 65%;
    margin: 0 auto;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section p, section a, section li {
    font-size: 16px !important;
  }
}